.header {
  background: linear-gradient(135deg, #b23a8a, #7b2cbf);
  padding: 15px 30px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-list {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

/* LINHA ANIMADA */
.nav-list a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: white;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-list a:hover::after {
  width: 100%;
}

/* LINK ATIVO */
.active {
  font-weight: bold;
}

.active::after {
  width: 100%;
}

/* BOTÃO SAIR */
.logout {
  background: rgba(255,255,255,0.2);
  padding: 6px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.logout:hover {
  background: rgba(255,255,255,0.4);
}